[project]
	description = Get random star wars names - from egghead
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Soumya Nayak (SoumyaN)
[access "refs/for/refs/*"]
	read = group user/Soumya Nayak (SoumyaN)
	push = group user/Soumya Nayak (SoumyaN)
	label-Code-Review = -2..+2 group user/Soumya Nayak (SoumyaN)
	label-Verified = -1..+1 group user/Soumya Nayak (SoumyaN)
	rebase = group user/Soumya Nayak (SoumyaN)
	removeReviewer = group user/Soumya Nayak (SoumyaN)
	submit = group user/Soumya Nayak (SoumyaN)
[access "refs/heads/*"]
	read = group user/Soumya Nayak (SoumyaN)
	create = group user/Soumya Nayak (SoumyaN)
	push = +force group user/Soumya Nayak (SoumyaN)
	pushMerge = group user/Soumya Nayak (SoumyaN)
[access "refs/tags/*"]
	push = +force group user/Soumya Nayak (SoumyaN)
	pushTag = group user/Soumya Nayak (SoumyaN)
	pushSignedTag = group user/Soumya Nayak (SoumyaN)
